<div class="hire-container">
    <h2>Hire Me</h2>
    <p>Looking for a dedicated Full Stack Developer? Let's discuss your project needs!</p>
    <button class="btn btn-success" routerLink="/contact">Get in Touch</button>
  </div>
  
  <div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus magna nec quam ultrices interdum a et massa. Etiam posuere aliquam mattis. Nulla molestie felis pharetra vehicula ullamcorper. Cras viverra sapien vitae diam ultricies, quis vehicula nunc pharetra. Aenean ut feugiat orci. Fusce ut dictum sapien. Mauris justo elit, ultrices quis lectus et, ultrices ultricies velit. Quisque gravida leo ut pellentesque luctus. Praesent ut nisi faucibus, porta tortor sit amet, dapibus lorem.

Integer ullamcorper, eros vel luctus cursus, metus ligula pulvinar purus, quis semper augue nunc quis massa. Nam sed laoreet justo. Vivamus eu massa urna. Nulla ullamcorper aliquet nisl vitae vestibulum. Etiam euismod congue tortor varius commodo. Etiam molestie risus at commodo malesuada. Curabitur id viverra augue, at accumsan dui. Maecenas scelerisque purus cursus semper varius.

Phasellus id blandit purus, eu euismod massa. Suspendisse iaculis augue nisl, vel tempus arcu semper vitae. Fusce a eleifend ipsum, vel accumsan justo. Aliquam viverra dolor id mi sodales accumsan. Nam semper felis at turpis ullamcorper, et imperdiet augue blandit. Aenean lacinia vehicula sapien et tempor. Mauris lectus purus, pellentesque at congue nec, eleifend id purus. Praesent at tristique metus.

Donec ac faucibus quam. Vestibulum eu turpis a mi ultricies porttitor. Etiam dapibus consectetur pretium. Etiam dapibus aliquam turpis, vitae posuere risus placerat et. Vestibulum sagittis ullamcorper dolor, nec blandit justo. Maecenas elementum lacus quis mauris iaculis consectetur. Maecenas efficitur, sapien ac viverra pharetra, eros libero egestas ante, sit amet faucibus eros justo sit amet sapien. Phasellus sed metus eget risus congue dictum facilisis eu libero. Cras dolor lorem, ullamcorper ut ligula vel, fermentum faucibus ipsum. Donec tempus enim sit amet dictum bibendum. Quisque sodales ac elit vel faucibus. Duis consectetur erat nisl, sit amet malesuada lacus sagittis et. Integer ut viverra mi.

Pellentesque ac euismod nisi, ut ultrices ex. Sed gravida sem sit amet leo euismod, vulputate sagittis nibh accumsan. Aliquam erat volutpat. Nulla ornare, massa ut luctus tincidunt, sapien arcu euismod ipsum, at ultricies tortor nibh vel ante. Cras sed nisl enim. Praesent in porttitor magna. Pellentesque efficitur vel dolor id laoreet.
    </p>
  </div>