<!-- home-intro-text.component.html -->
<div class="intro-text">
    <h1 class="hello">Hello!</h1>
    <h1>I'm Kanishka Peramunugama</h1>
    <h2>Software Engineer</h2>
    <p>Full-stack developer focused on creating effective and user-friendly software solutions. Dedicated to blending functionality with design to deliver impactful results.</p>
    <div class="action-buttons">
        <a routerLink="/contact" class="btn btn-primary"><i class="fas fa-envelope"></i> Contact Me</a>
        <button (click)="downloadCV()" class="btn btn-success">
            <i class="fas fa-file-download"></i> Download CV
        </button>
    </div>
</div>
