<!-- Credentials Section -->
<div class="credentials-section">
    <div class="credentials">
        <div class="credential">
            <a href="https://www.credly.com/badges/56e996a6-689c-433c-9b5e-2093e0d05756" target="_blank">
                <img src="../../../assets/images/credentials/azure-ai.png" alt="Azure AI Fundamentals" class="animated-badge">
            </a>
        </div>
        <div class="credential">
            <a href="https://www.credly.com/badges/d617e6a1-59ad-49ca-99da-91651ec2479c" target="_blank">
                <img src="../../../assets/images/credentials/google-support.png" alt="Google Support Specialist" class="animated-badge">
            </a>
        </div>
    </div>
</div>