/* Credentials Section */
.credentials-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
  width: 100%;
  padding-right: 5vw;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.credential {
  width: 60px;
  transition: transform 0.3s;
}

.credential:hover {
  transform: translateY(-10px);
}

.credential img {
  width: 200%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}

.animated-badge {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

/* Mobile and Tablet Adjustments */
@media (max-width: 768px) {
  .credentials-section {
    display: none; /* Hide credentials section on mobile and tablets */
  }
}

@media (max-width: 540px) {
  .credentials {
    display: none; /* Ensure no credentials are shown on very small screens */
  }
}
