<footer class="footer text-center">
  <div class="footer-content">
    <!-- <p>Connect with me:</p> -->
    <a
      href="https://github.com/Kanishka96ac"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/kanishka96/"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:kanishka96se@gmail.com" class="social-icon">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
  <p>&copy; 2024 Kanishka Peramunugama</p>
</footer>
