<!-- <footer class="footer bg-dark text-light py-4">
    <div class="footer-top">
      
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#212529" fill-opacity="1" d="M0,288L30,293.3C60,299,120,309,180,277.3C240,245,300,171,360,128C420,85,480,75,540,101.3C600,128,660,192,720,186.7C780,181,840,107,900,96C960,85,1020,139,1080,160C1140,181,1200,171,1260,154.7C1320,139,1380,117,1410,106.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Kanishka Peramunugama</h5>
          <p>Full Stack Software Developer</p>
        </div>
        <div class="col-md-6 text-md-end">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://github.com/Kanishka96ac" class="text-light no-underline click-animation" target="_blank">
                <i class="fab fa-github"></i> GitHub
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/kanishka96/" class="text-light no-underline click-animation" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:kanishka96se@gmail.com" class="text-light no-underline click-animation">
                <i class="fas fa-envelope"></i> Email
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
   -->



   <footer class="footer text-center">
    <div class="footer-content">
      <!-- <p>Connect with me:</p> -->
      <a href="https://github.com/Kanishka96ac" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/kanishka96/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:kanishka96se@gmail.com" class="social-icon">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <p>&copy; 2024 Kanishka Peramunugama</p>
  </footer>
  
