.nav-link {
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-link:hover {
    color: #17a2b8; /* Bootstrap info color */
    transform: scale(1.1);
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #ffc107 !important; /* Bootstrap warning color */
  }
  
  .nav-link i {
    margin-right: 8px;
  }
  
  .navbar-toggler {
    border-color: rgba(247, 242, 242, 0.945);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2855,55,55,0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  