<div class="home-container">

    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-content">
            <app-home-intro-text></app-home-intro-text>
            <div class="intro-photo">
                <img src="../../../assets/images/Kanishka2.png" alt="Kanishka Peramunugama" class="animated-photo">
            </div>
            <app-home-intro-credentials></app-home-intro-credentials>
        </div>
        
    </div>
    <div class="line-container">
        <svg class="fancy-line" viewBox="0 0 500 100" preserveAspectRatio="none">
          <path d="M0,50 C150,150 350,-50 500,50" />
        </svg>
    </div>
      
      
      


    <!-- Skills -->
    <app-home-skills></app-home-skills>
    <div><hr/></div>

    <!-- Academic Section -->
    <app-home-academic></app-home-academic>
    <div><hr/></div>

    <!-- Experiences  -->
    <app-home-experience></app-home-experience>
    <div><hr/></div>

    <!-- Portfolio Section -->
    <app-home-portfolio></app-home-portfolio>

    <!-- Contact Section -->
    <app-home-contact></app-home-contact>
</div>



  