<!-- Academic Detail Section -->
<div class="academic-detail-section" id="academic-details">
    <h1>Academic Background</h1>
    <div class="academic-detail-list">
        <!-- York St. John University -->
        <div class="academic-detail-item">
            <img src="../../../assets/images/academic-logo/ysj-logo.png" alt="York St. John University" class="academic-logo">
            <div class="academic-detail-info">
                <div class="academic-heading">
                    <h3>York St. John University</h3>
                    <h4>Master of Science - MS, Computer Science</h4>
                    <p><strong>Jan 2023 - Mar 2024</strong></p>
                    <p><strong>Grade:</strong> Merit Award - (2.1)</p>
                </div>
                <ul>
                    <li>Machine Learning</li>
                    <li>Cloud Computing</li>
                    <li>Azure Cloud</li>
                    <li>Agile & Scrum methodologies</li>
                    <li>Ontology Design</li>
                    <li>Python</li>
                    <li>UI/UX design (Figma)</li>
                    <li>Internet of Things (IoT)</li>
                </ul>
            </div>
        </div>
        <!-- Sheffield Hallam University -->
        <div class="academic-detail-item">
            <img src="../../../assets/images/academic-logo/shu.jpg" alt="Sheffield Hallam University" class="academic-logo">
            <div class="academic-detail-info">
                <div class="academic-heading">
                    <h3>Sheffield Hallam University</h3>
                    <h4>Bachelor of Engineering - BE, Software Engineering</h4>
                    <p><strong>2016 - 2018</strong></p>
                    <p><strong>Grade:</strong> Second Class Honours (1st Division)</p>
                </div>
                <ul>
                    <li>Java, JavaScript, HTML, CSS, Angular</li>
                    <li>OOP Concepts, Data Structures and Algorithms</li>
                    <li>Oracle Database, DBMS</li>
                    <li>Case Studies in Software development</li>
                    <li>Cloud Computing, Normalization</li>
                    <li>UML Diagrams, Software Methodologies</li>
                </ul>
            </div>
        </div>
        <!-- University of Kelaniya Sri Lanka -->
        <div class="academic-detail-item">
            <img src="../../../assets/images/academic-logo/uok-logo.png" alt="University of Kelaniya Sri Lanka" class="academic-logo">
            <div class="academic-detail-info">
                <div class="academic-heading">
                    <h3>University of Kelaniya Sri Lanka</h3>
                    <h4>Bachelor of Science - BS, Physical Sciences</h4>
                    <p><strong>2017 - 2020</strong></p>
                    <p><strong>Activities and Societies:</strong> Former Secretary of Mathematics Students' Society of the university</p>
                </div>
                <ul>
                    <li>Integration, Relational Algebra, Matrix Algebra</li>
                    <li>Linear Algebra, Differentiation, Vector Analysis</li>
                    <li>Numerical Methods, Computational Mathematics</li>
                    <li>Scientific Computing, Mechanics</li>
                    <li>Mathematics for Finance</li>
                    <li>Skills: Graduate Level, Problem Solving, Communication, Mathematics</li>
                </ul>
            </div>
        </div>
        <!-- SLIIT -->
        <div class="academic-detail-item">
            <img src="../../../assets/images/academic-logo/sliit-logo.png" alt="SLIIT" class="academic-logo">
            <div class="academic-detail-info">
                <div class="academic-heading">
                    <h3>SLIIT</h3>
                    <h4>Bachelor of Science - BS, Computer Software Engineering</h4>
                    <p><strong>2016 - 2020</strong></p>
                </div>
                <ul>
                    <li>Computer Fundamentals, Probability and Statistics</li>
                    <li>Java, Python, JavaScript, HTML, CSS, Angular</li>
                    <li>OOP Concepts, Data Structures and Algorithms</li>
                    <li>MySQL, Database Management Systems (DBMS)</li>
                    <li>Normalization, Entity-Relationship (ER) Diagrams</li>
                    <li>Cloud Computing, Internet of Things (IoT)</li>
                    <li>Machine Learning, Deep Learning</li>
                    <li>UML Diagrams, Software Methodologies</li>
                    <li>Version Controlling (GitHub)</li>
                    <li>Skills: Java Virtual Machine (JVM), Jest, Python, Graduate Level, Query Writing, Java, Software Development, Open Plan, React.js, OOP, Angular, Problem Solving, MySQL, Software Engineering Practices, E-Commerce, Communication, Version Control, HTML5, Full-Stack Development, Next.js, Web Services API, Software Engineers, Responsive Web Design, PL/SQL, REST APIs, Tailwind CSS, Software Analysis, JavaScript, AngularJS</li>
                </ul>
            </div>
        </div>
        <!-- Ananda College -->
        <div class="academic-detail-item">
            <img src="../../../assets/images/academic-logo/Ananda-Logo.png" alt="Ananda College" class="academic-logo">
            <div class="academic-detail-info">
                <div class="academic-heading">
                    <h3>Ananda College</h3>
                    <h4>Mathematics</h4>
                    <p><strong>2015</strong></p>
                    <p><strong>Activities and Societies:</strong> President’s Scout award winner, Assistant Troop Leader - Ananda College Scout Troop, Colors winner – Ananda College</p>
                </div>
                <ul>
                    <li>Represented the Colombo Centenary International Scout Jamboree 2014</li>
                    <li>Represented the RISGO CENTENNIAL International Scout Jamboree 2013</li>
                </ul>
            </div>
        </div>
    </div>
</div>
