<div class="skills-section">
  <h2>Technical Skills</h2>
    <div *ngFor="let category of skillsCategories" class="skills-category">
      <!-- <h3>{{ category.category }}</h3> -->
      <div class="skills-list">
        <div *ngFor="let skill of category.skills" class="skill-item">
          <div class="skill-logo">
            <img [src]="skill.logo" [alt]="skill.name + ' Logo'">
          </div>
          <p class="skill-name">{{ skill.name }}</p>
        </div>
      </div>
    </div>
  </div>
  